* {
  box-sizing: border-box;
  text-align: center;
}

iframe {
  width: 70%;
  hieght: 60%;
  frameborder: 2px;
}
.quiz {
  background-color: red;
}
body {
  width: 80%;
  height: 60%;
background: url(C:\Users\dasik\git\TriviaGame\assets\images\steve_background.png);
}
