* {
  box-sizing: border-box;
  text-align: center;
}
body{
  width:1200px;
  height:600px;
}


img {
  position: relative;
  width: 80%;
  height: 70%;
  opacity: .666;

}
.video {
  margin-top: -50%;
  position: relative;
  opacity: .98;
}
button {
  margin: 10px;
  position: relative;
width: 1000px;
height:100px;
}
