* {
  box-sizing: border-box;
  text-align: center;
}
body{
  width:1400px;
  height:600px;
}


img {
  position: relative;
  width: 80%;
  height: 90%;

}
.video {
  margin-top: -54%;
  position: relative;
  opacity: .90;
}
button {
  margin: 10px;
  position: relative;
width: 1000px;
height:100px;
}

#play-video {
  font-family: 'Plaster', cursive;
  background: radial-gradient(lime,white,purple);
  font-size: 48px;
}

#questions {
  font-family: 'Amatic SC', cursive;
  opacity: .666;

}
